@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.page-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: bold;
    color: black;  
    width: 90%;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid grey;
}

.page-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
}

.page-data {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 5px solid grey;
}

.sensor-values {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sensor {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    border-right: 3px solid grey;
}

.sensor-name, .sensor-value {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 5px;
}

.sensor-value {
    font-weight: normal;
}

.sensor-graphs {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.graph-pane {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.graph-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 3px solid grey;
    width: 50%;
}

.graph-heading {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.page-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.config-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
}

.config-heading, .form-heading {
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.value-label { 
    width: 100%;
    font-family: 'Poppins';
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-label {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.form-dropdown {
    width: 75%;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    height: 80%;
}

.dropdown-item, .form-dropdown {
    font-family: 'Poppins';
    font-size: 13px;
    text-align: center;
}

.form-input {
    width: 45%;
    font-family: 'Poppins';
    font-size: 13px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

.form-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit-button {
    border: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    background-color: lightseagreen;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}